@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --bg: #10221d;
  --text: #ffff;
  --primary: #0df2b1;
  --border: #0df2b131;
  --card: #1c362e;
  /* --card: #22493e; */
  --card-text: #8fccba;
  --card-btn: #064e3b;
}

.revenue-card-gradient {
  background: linear-gradient(135deg, #065f46 0%, #047857 100%);
}

body {
  /* scrollbar-width: thin; */
  /* scrollbar-color: #22493e transparent; */
  background: var(--bg);
  color: var(--text);
}

button {
  cursor: pointer;
}

input,
textarea,
button,
select,
option {
  outline: none;
}

.bg_color {
  background: var(--bg);
}

.bg_mode {
  background: var(--bg);
  color: var(--text);
}

.bg-primary {
  background: orange;
  color: var(--text);
}

button.bg-primary:hover {
  background: var(--primary);
}

.bg_card {
  background: var(--card);
  color: var(--text);
}
.card_btn {
  background: var(--card-btn);
  color: var(--text);
}

.text_primary {
  color: var(--primary);
}

.card_text {
  color: var(--card-text);
}

.border_color {
  border-color: var(--border);
}

.box_drawer {
  background-color: var(--card-btn) !important;
  color: var(--text) !important;
}

.box_drawer .ant-input,
.box_drawer .ant-input-affix-wrapper,
.box_drawer .ant-input-textarea textarea {
  background-color: var(--card) !important;
  color: var(--text) !important;
  border: none !important;
  border-radius: 10px;
  padding: 8px 14px;
}

/* HOVER */
.box_drawer .ant-input:hover,
.box_drawer .ant-input-affix-wrapper:hover,
.box_drawer .ant-input-textarea textarea:hover {
  background-color: var(--card) !important;
}

/* FOCUS */
.box_drawer .ant-input:focus,
.box_drawer .ant-input-affix-wrapper-focused,
.box_drawer .ant-input-textarea textarea:focus {
  background-color: var(--card) !important;
  box-shadow: 0 0 0 1px var(--bg_primary) !important;
}

.box_drawer .ant-form-item-label > label {
  color: var(--text) !important;
  font-weight: 600;
}

.box_drawer .ant-form-item-required::before {
  color: var(--bg_primary) !important;
}

.box_drawer .ant-switch {
  background-color: var(--card);
}

.box_drawer .ant-switch-checked {
  background-color: var(--bg_primary) !important;
}

.box_drawer .ant-upload,
.box_drawer .ant-upload button {
  background: var(--card) !important;
  color: var(--text) !important;
  border: none;
  border-radius: 10px;
  padding: 4px 8px;
}

.box_drawer .ant-upload button:hover {
  border: none !important;
}

@media (min-width: 767px) {
  body {
    scrollbar-width: thin;
    scrollbar-color: #22493e transparent;
  }
}
